@mixin arrow($propery) {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  @if ($propery == "top") {
    $propery: 50%;
    transform: translateX(-50%);
    top: -40px;
    border-bottom-color: red;
  } @else if ($propery == "right") {
    top: 50%;
    transform: translateY(-50%);
    right: -40px;
    border-left-color: red;
  } @else if ($propery == "bottom") {
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
    border-top-color: red;
  } @else if ($propery == "left") {
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
    border-right-color: red;
  }
}
