// SASS Code
$number: 8;

.box {
  @if ($number <= 10) {
    @if ($number == 10 or $number == 9) {
      background-color: #eee;

      @if ($number == 10) {
        text-align: center;
      }
    }
  }
}
